<!DOCTYPE html>
<html>
 <head>
  <title>Jacob Dalton</title>
  <link rel="stylesheet" href="main.css"/>
 </head>
 <body>
	<canvas id="canvas"></canvas>
	
	<button id="animate-toggle">Pause</button>
	<!-- Consider: create real links for non-javscript sites? -->
	<div id="links">
		<a id="about-button" href="#about">about</a>
		<a id="portfolio-button" href="#portfolio">portfolio</a>
		<a id="resume-button" href="#resume">r&#233sum&#233</a>
		<a id="demo-button" href="#demo">demo</a>
	</div>
	
	<div id="main-display" class="page-container">
	</div>

	<!-- It's my hope that in the future we'll use backbone.js or Angular.js to deliver the following templates in a more organized way -->
	<script type="text/template" id="tmpl-about">
		<div id="about" class="page-content">
			<div id="bumpers">
				<p>I'm Jake, a jack of the interwebs with a tongue for javascript. This site serves as a port of call for some of my work and doodlings. You can find me in the following social spaces:</p>
				<ul>
					<li><a href="http://stackoverflow.com/users/217623/jacob-dalton">Stack Overflow</a></li>
					<li><a href="https://github.com/jdalt/ose-specialpage-extension">Github</a></li>
					<li><a href="https://plus.google.com/114459552858401596042/posts">Google+</a></li>
					<li><a href="https://twitter.com/jdaltsalt">Twitter</a></li>
				</ul>
			</div>
		</div>
	</script>

	<script type="text/template" id="tmpl-portfolio">
		<div><div id="portfolio-items-container">
		<p id="blurb"><%- app.blurb %></p>
		<% _.each( app.data, function(item, index){ %>
			<img class="portfolio-item" data-id="<%- index %>" src="img/<%- item.img %>" />
		<% }); %>
		</div>
		<div id="portfolio-display"></div>
		</div>
	</script>
	
	<script type="text/template" id="tmpl-portfolio-sub">
		<img src="img/<%= img %>" />
		<div id="portfolio-box">
			<div id="portfolio-sub-title">
				<strong><%= clientName %></strong>
				<a href="http://<%= url %>"><%= url %></a>
			</div>
			<p>
				<%= desc %>
			</p>
		</div>
	</script>
	
	<script type="text/template" id="tmpl-resume">	
		<div class="page-content">  
			<div id="bumpers">
				<h1>Jacob Dalton</h1>
				<div id="contact-info">
					<span>715-220-3615</span>
					<span><a href="http://www.jacobrdalton.com">www.jacobrdalton.com</a></span>
					<span>jacobrdalton@gmail.com</span>
				</div>
				
				<div id="skills" class="section">
					<h2>Tech Skills</h2>  
					<ul class="tech-skills">
						<li><strong>Frontend</strong><span class="dots"><span class="top-border"></span></span> <span>HTML5, CSS3, Javascript, jQuery</span></li>
						<li><strong>Backend</strong><span class="dots"><span class="top-border"></span></span> <span>PHP, MySQL, Apache</span></li>
						<li><strong>CMS</strong><span class="dots"><span class="top-border"></span></span> <span>Contao, MediaWiki</span></li>
						<li><strong>Design</strong><span class="dots"><span class="top-border"></span></span> <span>GIMP, Inkscape</span></li>
						<li><strong>Version Control</strong><span class="dots"><span class="top-border"></span></span> <span>Git</span></li>
					</ul>
				</div>
				
				<div id="education" class="section">
					<h2>Education</h2>
					<ul class="institution">
						<li><strong>University of Wisconsin-Madison</strong> <span class="finish-time">2009</span></li>
						<li>B.S. Math and English</li>
						<li>Computer Science Certificate</li>
						<li>3.4 GPA</li>
					</ul>

					<ul class="institution">
						<li><strong>Copenhagen University</strong> <span class="finish-time">2007</span></li>
						<li>Exchange Student</li>
						<li>Master Courses in Literature</li>
					</ul>
				</div>
				
				<div id="experience" class="section">
					<h2>Experience</h2>
					<div class="work-exp"><strong>Open Source Ecology</strong><span class="finish-time">2012 - present</span></div>
					<div class="work-type">Freelance Development and Design</div>
					<a href="http://test.opensourceecology.org/wiki/Special:TrueFans">test.opensourceecology.org/wiki/Special:TrueFans</a>
					<p class="work-desc">Currently developing web application for viral video recording and dissemination for non-profit Open Source Ecology. Backend implemented as MediaWiki extension in PHP and frontend leveraging youtube and facebook javascript APIs.</p>

					<div class="work-exp"><strong>Dalton Landscaping</strong><span class="finish-time">2012</span></div>
					<div class="work-type">Freelance Development, Design, and Photography</div>
					<a href="http://www.daltonlandscaping.com">www.daltonlandscaping.com</a>
					<p class="work-desc">Designed theme, built custom icons, and took digital photos. Developed project in Contao CMS. Designed for simplicity and interactivity with minimum javascript.</p>

					<div class="work-exp"><strong>Stilted Style</strong><span class="finish-time">2011</span></div>
					<div class="work-type">Freelance Development</div>
					<a href="http://www.stiltedstyle.ca">www.stiltedstyle.ca</a>
					<p class="work-desc">Developed pixel perfect website for makeup artist Jessica McCormick from PSD design specs and implemented in Contao CMS. Built custom plugin to support content management of galleries.</p>

					<div class="work-exp"><strong>Buil Elementary</strong><span class="finish-time">2010 - 2012</span></div>
					<div class="work-type">Assitant English Teacher</div>
					<p class="work-desc">Designed and taught English curriculum in South Korea. Developed HTML5 games and apps for English camps. Example at <a href="//www.jacobdalton.com/demo/job_sorter">demo.jacobrdalton.com/job_sorter/</a>.</p>

					<div class="work-exp"><strong>UW-Madison ESL Program</strong><span class="finish-time">2010</span></div>
					<div class="work-type">Freelance Development and Design</div>
					<a href="http://www.english.wisc.edu/esl/">www.english.wisc.edu/esl/</a>
					<p class="work-desc">Redesigned, coded, and implemented website in Typolight CMS for ESL Program at UW-Madison. Integrated design to University style specifications and aggregated image content form university sources. Designed custom banner.</p>

					<div class="work-exp"><strong>The Madison Review</strong><span class="finish-time">2009</span></div>
					<div class="work-type">Freelance Development and Design</div>
					<a href="http://mirror.jacobrdalton.com/madisonreview/">mirror.jacobrdalton.com/madisonreview/</a>
					<p class="work-desc">Designed and coded new website for The Madison Review, a literary journal. Minimalist design with development done in pure PHP, xHTML, and CSS.</p>

				</div>
				
				<div id="interests" class="section">
					<h2>Interests</h2>
					<p>Arduino, FOSS, Literature, Craft Beer, and Travel.</p>
				</div>
				
				<div id="address">1643 100th Street New Richmond, WI 54017</div>
			</div>  
		</div>
	</script>

	<!-- how to inject this? -->
	<script type="text/template" id="tmpl-demo">
				<p>/p>
	</script>

	<script>
		var sitesModel =  // :( global namespace pollution, replace with textfile and RequireJs
			{
				blurb: '',
				data: [ {
							clientName: 'The Madison Review',
							url: 'mirror.jacobrdalton.com/madisonreview/',
							img: 'madrev-sm.png',
							desc: "In the bright flower of my youth I reviewed fiction for The Madison Review. After graduating, I built them a website. They had one before but it has thankfully been lost to the great server in the sky. <br><br> I built the new site in semantic HTML with PHP coming in for an assist with templating. I also integrated some paypal buttons and made a close encounter with the paypal developer sandbox. Would it were that it was my last time in the that particular sandbox... <br><br> Although the <a href='www.english.wisc.edu/madisonreview/'>current site (link)</a> has since changed, the listed url links to my original design. It includes a quip of XHTML/CSS dear to my heart: my first suckerfish style CSS drop down menu."
						}, {
							clientName: 'UW-Madison ESL Program',
							url: 'www.english.wisc.edu/esl/',
							img: 'esl-sm.png',
							desc: "The scene: winter aught nine and cold as hell. The English as a Second Language Program's website badly needed a redesign. Original site development dated back to a bygone era, a time in which the &lttable&gt tag had usurped power over its semantically accurate peers to dominate the DOM. These sins and the ravages of the great browser wars nearly drove ontologists (ontologists!) to believe that markup (and hence life) had lost all meaning. <br><br> I stepped in to rescue their tags from the dark ages. I implemented a CMS (Contao fka Typolight) to liberate content from the clutches of XHTML. I delivered a bold new banner that could proudly declare the program's colors above its pages. I integrated a color scheme under the University guidlines. It was an epic project. <br><br> I also integrated a second static HTML site into the CMS by writing a PHP script to clean up the DOM and then hand delivered some cascading spit shine." 
						}, {
							clientName: 'Jessica McCormick',
							url: 'www.stiltedstyle.ca',
							img: 'stilted-sm.png',
							desc: "During my adventures abroad I met wardrobe stylist and makeup artist Jessica McCormick. Jess needed a website, and I was a website making dude. <br><br> The endeavor was my first in which I had no design control. None. For that there was the marvelous Harriet Bodkin. Ms. Bodkin made the PSDs, and I translated them into the love language of HTML. <br><br> I wasn't pleased with the default image gallery options for Contao, so I rolled my own Contao plugin around a jQuery.fx plugin to create a zippy interactive experience. Also in the name of pixel perfection, cufon was used to tame the typography."
						}, {
							clientName: 'Dalton Landscaping',
							url: 'www.daltonlandscaping.com',
							img: 'landscaping-sm.png',
							desc: "My father runs a small landscaping company and in 2012, just as the Mayans predicted, he finally decided to ditch the yellow pages for the intertubes. A new era was born. <br><br> Of any site I've built, this is the one in which I had the most design latitude. I photographed the photos and iconeered those orange icons (not the white ones - those are the work of the Noun Project). I put a lot of effort into visuallizing the business when possible and writing clean copy when necessary."
						}, {
							clientName: 'Open Source Ecology',
							url: 'test.opensourceecology.org/wiki/Special:TrueFans',
							img: 'ose-sm.png',
							desc: "I spent much of the latter part of 2012 volunteering my time to the Open Source Ecology project. Paramount in this effort was the development of a web application called True Fan Stories dedicated to recording and disseminating personal videos from project supporters. <br><br> I have shepherded the project through the initial design, prototype, and early phases of user testing. Code-wise this is a MediaWiki extension with a lot of javascript glue on the frontend to facillitate a grand conspiracy of facebook, youtube, and wikipedia. Development is on-going."
						} 
					]
				};

		var demoModel =  // :( global namespace pollution, replace with textfile and RequireJs
			{
				blurb: "From March 2010 to March 2012 I worked as an Assistant English Teacher at Buil Elementary in Bucheon, South Korea. During that time I made several web apps for use in my English camps. Be warned these were for internal use and haven't been tested across browsers, but they should function just fine in (more) standards compliant browsers like Firefox and Chrome. ",
				data: [ {
						clientName: 'Job Master',
						url: 'demo.jacobrdalton.com/job_master/',
						img: 'job_master-sm.png',
						desc: 'To teach young students one must develop ritual and routine. Via this app three students each day were granted the awesome titles of Weather Master, Bell Master, and Attendance Master. These jobs became sought after roles and students took them seriously. Over time the routine became self regulating as the sounds and images became familiar. Prepare yourselves - this one is a bit noisy.'
					
					}, {
						clientName: 'Country Counter',
						url: 'demo.jacobrdalton.com/country_counter/',
						img: 'country_counter-sm.png',
						desc:'This is a game students played in teams on a large touchscreen monitor. Students line up and take turns matching a written country name to an image of its political borders.'
					}, {
						clientName: 'Sorting Hat',
						url: 'demo.jacobrdalton.com/sorting_hat/',
						img: 'sorting_hat-sm.png',
						desc:'At the start of every camp I needed a way to efficiently assign students to teams and give them English names for the camp. This digital sorting hat worked well for those ends.'
					}
				]
			};
		
	</script>

	<!-- data-main="js/main" --> 
  	<script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.4/require.min.js"></script>
	<script>
		require.config({
			baseUrl: 'js',
			paths: {
				jquery: ['//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min', 'lib_backup/jquery'],
				underscore: ['//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min', 'lib_backup/underscore']
			},
			shim: {
				underscore: {
					exports: '_'
				}
			}
		});

		require( ['demo'],
			function(Demo){
				Demo.init();
				Demo.start();
			}
		);

		require( ['jquery', 'underscore','demo'],
			function($, _, Demo){
				$(document).ready(function(){
					
					$('#links a').click(function(e){
						// We only respond to clicks that change the active link
						if($('#main-display').attr('data-active-id') !== $(this).attr('id')){
							var clickedLink = this; // closure for inner function
							$('#main-display').slideUp(function(){
								var nextId = $(clickedLink).attr('id');
								// Thinking long term here - we'll probably use Backbone.js model syncing in the future
								switch(nextId){
								case 'about-button':
									displayAbout();
									break;
								case 'resume-button':
									displayResume();
									break;
								case 'portfolio-button':
									displayPortfolioModel(sitesModel);
									break;
								case 'demo-button':
									displayPortfolioModel(demoModel);
									break;
								default:
									console.log('WTF Button Clicked');
								}
								$('#main-display').slideDown('slow');
								$('#main-display').attr('data-active-id', nextId);
							});
						}
						e.preventDefault();
					});

					$('#animate-toggle').click(function(){
						console.log('animate-clicked');
						if(Demo.isRunning()){
							Demo.pause();	
							$(this).html('Animate');
						} else {
							Demo.start();
							$(this).html('Pause');
						}
					});
						
					// Helper Functions

					function displayAbout()
					{
						var tmpl = _.template($('#tmpl-about').html(), {});
						$('#main-display').html(tmpl);
					}

					function displayResume()
					{
						var tmpl = _.template($('#tmpl-resume').html(), {});
						$('#main-display').html(tmpl);
					}

					function displayPortfolioModel(displayModel)
					{
						var tmpl = _.template($('#tmpl-portfolio').html(), displayModel, {variable:'app'});
						$('#main-display').html(tmpl);

						var portfolioDisplayLarge = _.template($('#tmpl-portfolio-sub').html());

						$('.portfolio-item').click(function(){
							var $selected = $('.selected');
							if( !$(this).is($selected)){
								$selected.removeClass('selected');
								$(this).addClass('selected');
								var clickElement = this; // closure var for use w/inner function 
								$('#portfolio-display').fadeOut( 'fast' , function(){
									var itemId = $(clickElement).attr('data-id');
									var tmpl = portfolioDisplayLarge(displayModel.data[itemId]);
									$('#portfolio-display').html(tmpl);
									$('#portfolio-display').fadeIn('slow');
								});
							}
						});
					}

					//*****************
					// Do canvas Stuff
					//*****************
					var resizeCanvas = function() // FIXME: this function doesn't work for all resize events... esp. creation of scroll bars 
					{
						var	width = $('body').width();
						$('canvas').attr('width', width);
						$('canvas').attr('height', 400);
						Demo.draw();
					}
					resizeCanvas();
					$(window).resize(resizeCanvas);

				});

			}
		);

	</script>
 </body>
</html>
