<html>
 <head>
  <link rel="stylesheet" href="main.css"/>
 </head>
 <body>
	<canvas id="canvas"></canvas>
	
	<button id="pause-button">Pause</button>
	<!-- Consider: create real links for non-javscript sites? -->
	<div id="links">
		<a id="resume-button" href="#nonajax">Resume</a>
		<a id="portfolio-button" href="#nonajax2">Portfolio</a>
	</div>
	
	<div id="main-display" class="page-container">
	</div>

	<script type="text/template" id="tmpl-portfolio">
		<div><div id="portfolio-items-container">
		<% _.each( app, function(item, index){ %>
			<img class="portfolio-item" data-id="<%- index %>" src="img/<%- item.img %>" />
		<% }); %>
		</div>
		<div id="portfolio-display"></div>
		</div>
	</script>
	
	<script type="text/template" id="tmpl-portfolio-sub">
		<img src="img/<%= img %>" />
		<div></div>
		<p>
			<span><strong><%= clientName %></strong></span>
			<span><a href="http://<%= url %>"><%= url %></a></span>
			<%= desc %>
		</p>
	</script>
	
	<script type="text/template" id="tmpl-resume">	
		<div id="main-content">  
			<div id="bumpers">
				<h1>Jacob Dalton</h1>
				<div id="contact-info">
					<span>715-220-3615</span>
					<span><a href="www.jacobdalton.com">www.jacobdalton.com</a></span>
					<span>jacobrdalton@gmail.com</span>
				</div>
				
				<div id="skills" class="section">
					<h2>Tech Skills</h2>  
					<ul>
						<li><strong>Frontend</strong> - HTML5, CSS3, Javascript, jQuery</li>
						<li><strong>Backend</strong> - PHP, MySQL, Apache</li>
						<li><strong>Version Control</strong> - Git</li>
						<li><strong>CMS</strong> - Contao, MediaWiki</li>
						<li><strong>Design</strong> - GIMP, Inkscape</li>
					</ul>
				</div>
				
				<div id="education" class="section">
					<h2>Education</h2>
					<ul class="institution">
						<li><strong>University of Wisconsin-Madison</strong> <span class="finish-time">2009</span></li>
						<li>B.S. Math and English Double Major </li>
						<li>Computer Science Certificate</li>
						<li>3.38 GPA</li>
					</ul>

					<ul class="institution">
						<li><strong>Copenhagen University</strong> <span class="finish-time">2007</span></li>
						<li>Exchange Student</li>
						<li>Master Level Courses in Literature</li>
					</ul>
				</div>
				
				<div id="experience" class="section">
					<h2>Experience</h2>
					<div class="work-exp"><strong>Open Source Ecology</strong><a href="http://test.opensourceecology.org/wiki/Special:TrueFans">test.opensourceecology.org/wiki/Special:TrueFans</a><span class="finish-time">2012 - present</span></div>
					<div class="work-type">Freelance Development and Design</div>
					<p class="work-desc">Currently developing web application for viral vclasseo recording and dissemination for nonprofit Open Source Ecology. Implemented as MediaWiki extension in PHP and using google and facebook javascript apis.</p>

					<div class="work-exp"><strong>Dalton Landscaping</strong><a href="http://www.daltonlandscaping.com">www.daltonlandscaping.com</a><span class="finish-time">2012</span></div>
					<div class="work-type">Freelance Development, Design, and Photography</div>
					<p class="work-desc">Designed, developed, and built content for Dalton Landscaping. Implemented in Contao CMS.</p>

					<div class="work-exp"><strong>Stilted Style</strong><a href="http://www.stiltedstyle.ca">www.stiltedstyle.ca</a><span class="finish-time">2011</span></div>
					<div class="work-type">Freelance Development</div>
					<p class="work-desc">Developed personal website of makeup artist Jessica McCormick from psd design and implemented in Contao CMS. Built custom plugin to support content management of galleries.</p>

					<div class="work-exp"><strong>Buil Elementary</strong><span class="finish-time">2010 - 2012</span></div>
					<div class="work-type">Assitant English Teacher</div>
					<p class="work-desc">Designed and taught English curriculum in South Korea. Developed HTML5 games and apps for English camps. For examples see - <a href="www.jacobdalton.com/english_camps/">www.jacobdalton.com/english_camps/</a></p>

					<div class="work-exp"><strong>UW-Madison ESL Program</strong><a href="http://www.english.wisc.edu/esl/">www.english.wisc.edu/esl/</a><span class="finish-time">2010</span></div>
					<div class="work-type">Freelance Development and Design</div>
					<p class="work-desc">Redesigned, coded, implemented new website in Typolight CMS (aka Contao CMS) for ESL Program at UW-Madison.</p>

					<div class="work-exp"><strong>Madison Review</strong><a href="http://www.english.wisc.edu/madisonreview/">www.english.wisc.edu/madisonreview/</a><span class="finish-time">2009</span></div>
					<div class="work-type">Freelance Development and Design</div>
					<p class="work-desc">Redesigned and coded new website for literary magazine - Madison Review.</p>

				</div>
				
				<div id="interests" class="section">
					<h2>Interests</h2>
					<p>Travel, FOSS, Arduino, Craft Beer, and Literature.</p>
				</div>
				
				<div id="address">1643 100th Street New Richmond, WI 54017</div>
			</div>  
		</div>
	</script>

 
  	<script data-main="js/main" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.4/require.min.js"></script>
	<script>
		require.config({
			baseUrl: 'js',
			paths: {
				jQuery: '//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js',
				underscore: '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js'
			},
			shim: {
				underscore: {
					exports: '_'
				}
			}
		});

		require( ['jQuery', 'demo', 'input', 'util'],
			function($, mod){


			}
		);

	</script>
<!-- these bad boys need to into my shim config i believe -->
  <script src=></script>
  <script src=></script>
  <script src="includes.js"></script>
	<script>
			var libs = new Array( 'util.js', 'sprite.js', 'input.js', 'main.js');
			include_files(libs, function(){ Demo.init(); Demo.start();});

		// Data Model For Portfolio Work
		// TODO: Add English Camp Work
		var portfolioData =  // :( global namespace pollution, replace with textfile and RequireJs
			[ {
					clientName: 'The Madison Review',
					url: 'www.english.wisc.edu/madisonreview/',
					img: 'madrev-sm.png',
					desc: 'Redesigned and coded new website for literary magazine - Madison Review.'
				
				}, {
					clientName: 'UW-Madison ESL Program',
					url: 'www.english.wisc.edu/esl/',
					img: 'esl-sm.png',
					desc: 'Redesigned, coded, implemented new website in Typolight CMS (aka Contao CMS) for ESL Program at UW-Madison.'
				
				}, {
					clientName: 'Jessica McCormick',
					url: 'www.stiltedstyle.ca',
					img: 'stilted-sm.png',
					desc:'Developed personal website of makeup artist Jessica McCormick from psd design and implemented in Contao CMS. Built custom plugin to support content management of galleries.'
				}, {
					clientName: 'Dalton Landscaping',
					url: 'www.daltonlandscaping.com',
					img: 'landscaping-sm.png',
					desc:'Designed, developed, and built content for Dalton Landscaping. Implemented in Contao CMS.'
				}, {
					clientName: 'Open Source Ecology',
					url: 'test.opensourceecology.org/wiki/Special:TrueFans',
					img: 'ose-sm.png',
					desc: 'Currently developing web application for viral video recording and dissemination for nonprofit Open Source Ecology. Implemented as MediaWiki extension in PHP and using google and facebook javascript apis.'
				} 
			];
		
		$(document).ready(function(){
			
			$('#links a').click(function(e){
				// We only respond to clicks that change the active link
				if($('#main-display').attr('data-active-id') !== $(this).attr('id')){
					var clickedLink = this; // closure for inner function
					$('#main-display').slideUp(function(){
						var nextId = $(clickedLink).attr('id');
						switch(nextId){
						case 'resume-button':
							displayResume();
							break;
						case 'portfolio-button':
							displayPortfolio();
							break;
						default:
							console.log('WTF Button Clicked');
						}
						$('#main-display').slideDown('slow');
						$('#main-display').attr('data-active-id', nextId);
					});
				}
				e.preventDefault();
			});

			$('#pause-button').click(function(){
				if(Demo.isRunning()){
					Demo.pause();	
				} else {
					Demo.start();
				}
			});
				
			// Helper Functions
			function displayResume()
			{
				var tmpl = _.template($('#tmpl-resume').html(), portfolioData, {variable:'app'});
				$('#main-display').html(tmpl);
			}
			
			function displayPortfolio()
			{
				var tmpl = _.template($('#tmpl-portfolio').html(), portfolioData, {variable:'app'});
				$('#main-display').html(tmpl);

				var portfolioDisplayLarge = _.template($('#tmpl-portfolio-sub').html());

				$('.portfolio-item').click(function(){
					var $selected = $('.selected');
					if( !$(this).is($selected)){
						$selected.removeClass('selected');
						$(this).addClass('selected');
						var clickElement = this; // closure var for use w/inner function 
						$('#portfolio-display').fadeOut( 'fast' , function(){
							var itemId = $(clickElement).attr('data-id');
							var tmpl = portfolioDisplayLarge(portfolioData[itemId]);
							$('#portfolio-display').html(tmpl);
							$('#portfolio-display').fadeIn('slow');
						});
					}
				});
			}

			//*****************
			// Do canvas Stuff
			//*****************
			var resizeCanvas = function() // FIXME: this function doesn't work for all resize events... esp. creation of scroll bars 
			{
				var	width = $('body').width();
				console.log(width);
				$('canvas').attr('width', width);
				$('canvas').attr('height', 400);
			}
			resizeCanvas();
			$(window).resize(resizeCanvas);

		});
	</script>
 </body>
</html>
