/* main.css - primary style sheet for portfolio website */

/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
@font-face {
    font-family: 'fontinbold';
    src: url('fonts/fontin-bold-webfont.eot');
    src: url('fonts/fontin-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fontin-bold-webfont.woff') format('woff'),
         url('fonts/fontin-bold-webfont.ttf') format('truetype'),
         url('fonts/fontin-bold-webfont.svg#fontinbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calluna';
    src: url('fonts/Calluna-Regular-webfont.eot');
    src: url('fonts/Calluna-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Calluna-Regular-webfont.woff') format('woff'),
         url('fonts/Calluna-Regular-webfont.ttf') format('truetype'),
         url('fonts/Calluna-Regular-webfont.svg#CallunaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CallunaSans';
    src: url('fonts/CallunaSansRegular-webfont.eot');
    src: url('fonts/CallunaSansRegular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/CallunaSansRegular-webfont.woff') format('woff'),
         url('fonts/CallunaSansRegular-webfont.ttf') format('truetype'),
         url('fonts/CallunaSansRegular-webfont.svg#CallunaSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{
	margin: 0;
}
html{
	width: 100%;
}
body{
	margin: 0;
	font-family: ubuntu;
	width: 100%;
	overflow-x: hidden;
	background-color: #000;
}
canvas{
	position: absolute;
	left: 0;
	top: 0;
 	background-color: #fff; /* ??? */ 
	z-index: -1;
}

h1{
	font-size: 100px;
	font-weight: normal;
	text-align: center;
}
h2{
	color: #444;
	font-weight: normal;
	margin: .2em 0;
}
ul{
	margin-top: 5px;
	padding-left: 0;
	list-style: none;
}
a{
	text-decoration: none;
	color: inherit;
}

/* share btwen modules */
#main-display{
	text-align: center;
}

.page-content{
	text-align: left;
	background-color: #fff;
	width: 900px;
	margin: 0 auto;
	padding: 2em 0;
	box-shadow: 0 0 7px #444;
	font-family: 'Calluna', sans-serif;
}

.page-container{
	padding-top: 85px;
}

.resume-print{
	padding: 0;
	box-shadow: none; 
}

/**/
#links{
	margin-top: 1.5em;
	color: #fff;
	position: absolute;
	width: 100%;
	text-align: center;
}
#links a{
	font-size: 150%;
	text-align: center;
	padding: 0 .5em;
	font-family: 'fontinbold', Georgia;
}

#animate-toggle{
	border: none;
	color: #fff;
	background-color: transparent;
	position: absolute;
	top: 3px;
	right: 3px;
	z-index: 1;
}

/****************************/
/** About CSS **/
#about{
	background-color: transparent;
	color: #fff;
	box-shadow: none;
	font-size: 126%;
}

#about li{
	text-align: center;
}

/****************************/
/** Portfolio CSS **/
.portfolio-item{
	opacity: .7;
	display: inline-block;
	margin: 0 3px;
}
.portfolio-item:hover{
	opacity: .9;
}
.portfolio-item{
	width: 125px;
}
.selected{
	opacity: 1.0;
	box-shadow: 0 0 7px #fff;
}

#portfolio-display{
	margin-top: 15px;
	display: inline-block;
	width: 600px;
	text-align: left;
}
#portfolio-display img{
	margin: 0 auto;
	box-shadow: 0 0 7px #aaa;
	display: inline-block;
}
#portfolio-box{
	margin-top: 20px;
	padding: 20px;
	box-shadow: 0 0 7px #aaa;
	background-color: #fff;
	font-family: 'Calluna' , serif;
}
#portfolio-sub-title > *{
	display: block;
}
#portfolio-box p{
	margin-top: 1em;
}
#blurb{
	padding: 0 25%;
	color: #fff;
	margin-bottom: 1em;
	font-size: 126%;
	font-family: 'Calluna';
}


/****************************/
/** Resume Css **/
#bumpers{
	padding: 0 4em;
}
#main-display a{
	font-family: 'CallunaSans', sans-serif;
}
#contact-info{
	text-align: center;
	margin-bottom: 2em;
}
#contact-info span{
	margin-left: 10px;
}
.section{
	margin-top: 15px;
	color: #555;
    clear: both;
}
#skills{
	/* float: left; */
}
#education{
	/* float: right; */
    clear: both;
}
#experience{
	clear: both;
}
#experience a, #projects a{
	color: #66a;
}

.work-exp strong, .work-exp span, .work-exp a{
	margin-right: 10px;
}
.work-type{
	font-size: 90%;
	color: #999;
}
.work-desc{
	margin-bottom: 2em;
}

#address{
	margin-top: 3em;
	color: #444;
	text-align: center;
}

.finish-time{
	color: #444;
	margin-left: 5px;
}

/*fx*/
/* TODO: Crossbrowser */
#education li{
	margin-left: 1em;
}
#education li:first-child{
	margin-left: 0;
}

#skills{
    width: 100%;
}

#skills ul{
	display: inline;
}

#skills ul li{
    /* width: 425px; */
    width: 100%;
    -moz-box-align: stretch;
    -moz-box-orient: horizontal;
    display: -moz-box;
    -webkit-box-align: stretch;
    -webkit-box-orient: horizontal;
    display: -webkit-box;
}

#skills ul li span, #skills ul li strong{
	display: block;
	-moz-box-flex: 0;
	-webkit-box-flex: 0;
}

#skills ul.tech-skills li .dots{
/*	background: url("img/dot.png") repeat-x scroll left transparent;*/
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	margin: 0 .35em;
}

/* only for printout? */
#skills ul.tech-skills li .dots .top-border
{
    border-top: 2px dotted #999999;
    display: inline-block;
    margin-top: 11px;
    width: 100%;
}

/* RESPONSIVE styles */
@media only screen and (max-width: 900px) {
  .page-content{
    width: 100%;
    margin: 2em auto;
    padding: 0;
  }
}
@media only screen and (max-width: 600px) {  
  #bumpers{
    padding: 0 1em;
  }
  
  #resume h1{
    font-size: 3rem;
    padding-top: .75rem;
  }
  
  #resume h2{
    font-size: 1.25rem;
  }
  
  #contact-info{
    font-size: .75rem;
  }
  
  #resume ul li{
    width: 100%;
    font-size: .9rem;
  }
  
  #experience{
    padding-top: 1rem;
  }
  
  #blurb{
    padding: .5rem .25rem;
  }
  
  #portfolio-display{
    width: 100%;
  }
  
  #portfolio-display img{
    width: 100%;
  }
  
  #address{
    padding-bottom: 1em;
  }
  
}
